body{
    background-color: black;
}
.sale {
    position: absolute;
    top: 50px;
    width: 50vw;
    height: 50vh;    
}
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: floralwhite;
}
.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: floralwhite;
}
