*{
    border: 1px solid rgba(255, 0, 0, 0.342);
}
body{
    background-color: black;
}
.sale {
    position: absolute;
    top: 50px;
    width: 50vw;
    height: 50vh;    

}
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: floralwhite;

}
.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: 100%;
    background-color: floralwhite;
}
.cardes{
    display: flex;
}
.card{
    width: 200px;
    height: 350px;
    position: relative;
}
.prom::after{
    content: "PROMOÇÃO";
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0000;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    padding: 2px 25px 2px 10px;
    transform: translateY(10px);
    background-image: linear-gradient(90deg, #ffee00, #ffc964,#ffee00, #ffc964);
    background-size: 300% 300%;
    animation: promocao-animation 2.5s linear infinite;
  }
  @keyframes promocao-animation{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
  }
