@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #ff000057;  
    font-family: 'Poppins', sans-serif;
}
:root{
    --blue: #234264;
    --boxshadow: 2px 3px 5px #2b3d5faf;

    --altbtncomprar: 30px;
}
body{
    background-color: #081d35;
}
/* classes especificadas */
.poppins{
    font-family: 'Poppins', sans-serif;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.value{
    color: #032b5f;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}
.value::before{
    content: "R$ ";
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: 100%;
    background-color: floralwhite;
    padding: 0 100px;
    position: fixed;
    z-index: 2;
}
header span{
    font-family: 'ADLaM Display', cursive;
    font-size: 40px;
    text-shadow: 2px 2px #6f9dda;
}
nav ul{
    display: flex;
    gap: 2rem;
}
.navop:hover{
    box-shadow: var(--boxshadow);
    transition: .2s;
    cursor:pointer;
    transform: translateY(-2px) translateX(-2px);
    color: rgb(102, 143, 196);
}
.navop{
    box-shadow: 2px 2px 5px #22365c28;
    width: 100px;
    transition: .15s;
}

.slider{
    background-color: var(--blue);
    height: 25vmax;
}

    /* === cards === */

.cardes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 75vmin;
}
.areacard{
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    cursor:default
}

.areacard button{
    width: 100%; 
    height: var(--altbtncomprar);
    background-color: #c7973f;
    cursor: pointer;
    color: #bcd9ff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    transition: .4s;
}
.areacard button:hover{
    color: #fff;
    background-color: #dbbf43;
    transition: .2s;
}
.areacard:hover .card{
    box-shadow: var(--boxshadow);
    transform: translateY(calc(var(--altbtncomprar) * -1));
    transition: .3s;
}

.card{
    width: 200px;
    aspect-ratio: 5 / 7;
    position: relative; /*pra promoção não sair do card*/
    background-color: #b7cfda;
    transition: .6s;
    z-index: 1;
}
.card img{
    width: 100%;
    aspect-ratio: 1;
    background-color: #ffc964;
    object-fit: cover;
}
.card h3{
    font-weight: 100;
}

.areacard:hover .value{
    font-size: 22.5px;
    transition: .3s;
}

.prom::before{
    content: "PROMOÇÃO";
    position: absolute;
    top: 55%;
    left: 0;
    color: #ff0000;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    padding: 2px 25px 2px 10px;
    transform: translateY(10px);
    background-image: linear-gradient(90deg, #ffee00, #ffc964,#ffee00, #ffc964);
    background-size: 300% 300%;
    animation: promocao-animation 2.5s linear infinite;
  }
  @keyframes promocao-animation{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
  }

  #slider{ 
    position: relative; 
    overflow: hidden; 
} 
#slide-both{ 
    transition: .5s; 
} 
#slide-initial{ 
    width: 300vw; 
    display: flex; 
    overflow: hidden; 
} 
.slides{ 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
} 
.slides img{ 
    width: 40em; 
    aspect-ratio: 14 / 9; 
} 
 
#slide-top{ 
    position: relative; 
} 
#slide-base{ 
    position: absolute; 
    z-index: -1; 
    translate: 0 -100%; 
} 
#slide-base #slide-initial .slides{ 
    transform: scale(2.4); 
    filter: blur(2px) grayscale(93%); 
} 
 
.arrows{ 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    z-index: 1; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: .5s; 
    padding: 0 3em; 
} 
.arrow{ 
    border-bottom: 2em solid transparent; 
    border-top: 2em solid transparent; 
    border-left: 1em solid transparent; 
    border-right: 2em solid #38002391; 
    cursor: pointer; 
    transition: .4s; 
} 
.arrow:hover{ 
    border-right: 2em solid #140041da; 
    transition: .2s; 
} 
#arrow-left{ 
    visibility: hidden;  
} 
#arrow-right, #arrow-right2{ 
    transform: scale(-1); 
}

  footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: 100%;
    background-color: floralwhite;
    color: #bcd9ff;
}
